/*****************************************************************************/
/* Matches: Style */
/*****************************************************************************/
.matches {
  padding-top: 40px;
  width: 100%;
}
.match {
  clear: both;
  border-bottom: 1px solid #e3ede1;

  &:nth-child(even) {
    background-color: #f8faf7;
  }

  &:last-child {
    border-bottom: none;
  }
}

.pages-wrapper {
  height: 100%;
  // overflow: hidden;
  // position: absolute;
  // width: 100%;

  .page {
    // border-right: 1px solid #e3ede1;
    // float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // position: relative;
    // width: 25%;

    &:last-child {
      border-right: none;
    }

    section.main {
      margin-bottom: 56px;
      position: relative;
    }
  }
}

.team1, .team2 {
  font-size: 20px;
  padding: 8px 15px 15px;
  position: relative;
  text-align: center;
  width: 40%;

  .country {
    font-size: 16px;
    position: relative;
    z-index: 10;
  }
}
.team1 {
  clear: left;
  float: left;
}
.team2 {
  clear: right;
  float: right;

  .flag {
    left: auto;
  }
}

.info {
  font-size: 22px;
  height: 112px;
  padding: 40px 40% 0;
  text-align: center;

  .sub {
    color: #5E9356;
    font-size: 12px;
  }
}

.group,
.stadium,
.date {
  color: #5E9356;
  font-size: 10px;
  margin: 5px 5px 0;
}
.group {
  clear: left;
  float: left;
}
.stadium {
  float: right;
}
.date {
  text-align: center;
}

.flag {
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  box-shadow: 0 0 10px #999;
  height: 50px;
  margin: 0 auto 10px;
  width: 50px;

  &.tbd {
    background-color: #e3ede1;
    color: #5E9356;
    // color: #fff;
    position: relative;

    &:before {
      content: '?';
      position: relative;
      top: 11px;
    }
  }

  &.albania {
    background-image: url(/images/flags/al.svg);
  }
  &.austria {
    background-image: url(/images/flags/at.svg);
  }
  &.belgium {
    background-image: url(/images/flags/be.svg);
  }
  &.croatia {
    background-image: url(/images/flags/hr.svg);
  }
  &.czech_republic {
    background-image: url(/images/flags/cz.svg);
  }
  &.england {
    background-image: url(/images/flags/gb-eng.svg);
  }
  &.france {
    background-image: url(/images/flags/fr.svg);
  }
  &.germany {
    background-image: url(/images/flags/de.svg);
  }
  &.hungary {
    background-image: url(/images/flags/hu.svg);
  }
  &.iceland {
    background-image: url(/images/flags/is.svg);
  }
  &.ireland {
    background-image: url(/images/flags/ie.svg);
  }
  &.italy {
    background-image: url(/images/flags/it.svg);
  }
  &.northern_ireland {
    background-image: url(/images/flags/gb-northern-ireland.svg);
  }
  &.poland {
    background-image: url(/images/flags/pl.svg);
  }
  &.portugal {
    background-image: url(/images/flags/pt.svg);
  }
  &.romania {
    background-image: url(/images/flags/ro.svg);
  }
  &.russia {
    background-image: url(/images/flags/ru.svg);
  }
  &.slovakia {
    background-image: url(/images/flags/sk.svg);
  }
  &.spain {
    background-image: url(/images/flags/es.svg);
  }
  &.sweden {
    background-image: url(/images/flags/se.svg);
  }
  &.switzerland {
    background-image: url(/images/flags/ch.svg);
  }
  &.turkey {
    background-image: url(/images/flags/tr.svg);
  }
  &.ukraine {
    background-image: url(/images/flags/ua.svg);
  }
  &.wales {
    background-image: url(/images/flags/gb-wls.svg);
  }
}
