/*****************************************************************************/
/* Matches: Style */
/*****************************************************************************/
.matches {
  padding-top: 40px;

  .match {
    clear: both;
    border-bottom: 1px solid #e3ede1;

    &:last-child {
      border-bottom: none;
    }
  }
}

.team1, .team2 {
  font-size: 20px;
  padding: 8px 15px 15px;
  position: relative;
  text-align: center;
  width: 40%;

  .country {
    font-size: 16px;
    position: relative;
    z-index: 10;
  }
}
.team1 {
  clear: left;
  float: left;
}
.team2 {
  clear: right;
  float: right;

  .flag {
    left: auto;
    right: 10px;
  }
}

.info {
  font-size: 22px;
  height: 112px;
  padding: 40px 40% 0;
  text-align: center;

  .sub {
    color: #5E9356;
    font-size: 12px;
  }
}

.group,
.stadium {
  color: #5E9356;
  font-size: 10px;
  float: left;
  margin: 5px 5px 0;
}
.stadium {
  float: right;
}

.flag {
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  box-shadow: 0 0 10px #999;
  height: 50px;
  margin: 0 auto 10px;
  width: 50px;


  &.albania {
    background-image: url(/images/flag-icons/flags/1x1/al.svg);
  }
  &.austria {
    background-image: url(/images/flag-icons/flags/1x1/at.svg);
  }
  &.belgium {
    background-image: url(/images/flag-icons/flags/1x1/be.svg);
  }
  &.croatia {
    background-image: url(/images/flag-icons/flags/1x1/hr.svg);
  }
  &.czech_republic {
    background-image: url(/images/flag-icons/flags/1x1/cz.svg);
  }
  &.england {
    background-image: url(/images/flag-icons/flags/1x1/gb-eng.svg);
  }
  &.france {
    background-image: url(/images/flag-icons/flags/1x1/fr.svg);
  }
  &.germany {
    background-image: url(/images/flag-icons/flags/1x1/de.svg);
  }
  &.hungary {
    background-image: url(/images/flag-icons/flags/1x1/hu.svg);
  }
  &.iceland {
    background-image: url(/images/flag-icons/flags/1x1/is.svg);
  }
  &.ireland {
    background-image: url(/images/flag-icons/flags/1x1/ie.svg);
  }
  &.italy {
    background-image: url(/images/flag-icons/flags/1x1/it.svg);
  }
  &.northern_ireland {
    background-image: url(/images/flags/Northern_Ireland.svg);
  }
  &.poland {
    background-image: url(/images/flag-icons/flags/1x1/pl.svg);
  }
  &.portugal {
    background-image: url(/images/flag-icons/flags/1x1/pt.svg);
  }
  &.romania {
    background-image: url(/images/flag-icons/flags/1x1/ro.svg);
  }
  &.russia {
    background-image: url(/images/flag-icons/flags/1x1/ru.svg);
  }
  &.slovakia {
    background-image: url(/images/flag-icons/flags/1x1/sk.svg);
  }
  &.spain {
    background-image: url(/images/flag-icons/flags/1x1/es.svg);
  }
  &.sweden {
    background-image: url(/images/flag-icons/flags/1x1/se.svg);
  }
  &.switzerland {
    background-image: url(/images/flags/Switzerland.svg);
  }
  &.turkey {
    background-image: url(/images/flag-icons/flags/1x1/tr.svg);
  }
  &.ukraine {
    background-image: url(/images/flag-icons/flags/1x1/ua.svg);
  }
  &.wales {
    background-image: url(/images/flag-icons/flags/1x1/gb-wls.svg);
  }
}
