/*****************************************************************************/
/* Menu: Style */
/*****************************************************************************/
nav.main {
  background-color: #fff;
  border-top: 1px solid lighten(#5E9356, 45);
  bottom: 0;
  box-shadow: 0 0 5px #fff;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 20;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    list-style: none;
    width: 20%;
  }

  a {
    color: #ccc;
    display: block;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 5px 8px;
    text-align: center;
    text-decoration: none!important;

    &.active {
      color: #5E9356;
    }
  }

  i {
    display: block;
    font-size: 20px;
    margin: 0 auto;
  }
}
