<template name="Menu">

  <nav class="main">
    <ul>
      <li>
        <a href="/matches" class="{{isActive 'matches'}}">
          <i class="icon-calendar"></i>
          <span>Matches</span>
        </a>
      </li>
      <li>
        <a href="/standings" class="{{isActive 'standings'}}">
          <i class="icon-trophy"></i>
          <span>Standings</span>
        </a>
      </li>
      <li>
        <a href="/communities" class="{{isActive 'community'}}">
          <i class="icon-chat"></i>
          <span>Community</span>
        </a>
      </li>
      <li>
        <a href="/bets" class="{{isActive 'bet'}}">
          <i class="icon-football"></i>
          <span>Play</span>
        </a>
      </li>
      <li>
        <a href="/settings" class="{{isActive 'settings'}}">
          <i class="icon-user"></i>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </nav>

</template>
