<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <meta name="description" content="Organizr">
  <title>WorldcAPP</title>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#5E9356">
  <meta name="favicon" content="/logo.png">
  <!-- <link rel="icon" sizes="256x256" href="/images/logo256.png"> -->
  <link rel="icon" sizes="128x128" href="/logo.png">
  <link rel="apple-touch-icon" href="/logo.png">
  <link rel="stylesheet" href="/fontello/css/worldcapp.css">
</head>
