/*****************************************************************************/
/* NotFound: Style */
/*****************************************************************************/
.not-found {
  color: #5E9356;
  text-align: center;

  h1 {
    line-height: 2em;
    opacity: .8;
  }
}
