/*****************************************************************************/
/* Settings: Style */
/*****************************************************************************/
.settings {

  section {
    padding: 10px;
  }

  label {
    margin: 0;
    padding: 0;
    display: block;
  }

  input {
    border: none;
    border-bottom: 1px solid #c5dac1;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
  }

  .picture {
    background-color: #e3ede1;
    border-radius: 100%;
    box-shadow: 0 0 10px #999;
    height: 50px;
    margin: 0 auto 10px;
    width: 50px;
  }

  .team1 .name {
    font-size: 14px;
  }

  .info {
    font-size: inherit;
    height: auto;
    padding: 13px 0 0 40%;
    text-align: left;
  }

  button[type="submit"] {
    width: 100%;
  }

  .signout {
    position: absolute;
    right: 15px;
    top: 4px;
  }
}

.choose-team {
  z-index: 1070;

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
