/*****************************************************************************/
/* Settings: Style */
/*****************************************************************************/
.settings {

  section {
    padding: 10px;
  }

  label {
    margin: 0;
    padding: 0;
    display: block;
  }

  input {
    border: none;
    border-bottom: 1px solid #c5dac1;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
  }

  .picture {
    border-radius: 100%;
    box-shadow: 0 0 10px #999;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 47px;
    width: 50px;
  }

  .team1 .name {
    font-size: 14px;
  }

  .info {
    font-size: inherit;
    height: auto;
    padding: 13px 0 0 40%;
    text-align: left;
  }

  button[type="submit"] {
    width: 100%;
  }
}
