<template name="Settings">

  {{> Login}}

  <section class="main settings">
    <h3>Account</h3>
    <section>
      <form>

        {{#if user.picture}}
        <img src="{{user.picture}}" class="picture">
        {{/if}}

        <label for="name">Your name</label>
        <input type="text" id="name" placeholder="Your name" value="{{user.name}}">

        <!-- <label for="email">Email address</label>
        <input type="email" id="email" placeholder="Your email address" value="{{user.email}}"> -->

        <label for="team">Your favorite team</label>
        <input type="hidden" id="supported-team" value="{{user.supportedTeam}}">
        <div class="team1">
          <div class="flag {{machineName user.supportedTeamFlag}} change-team"></div>
          <div class="name">{{user.supportedTeamName}}</div>
        </div>
        <div class="info">
          Show which team you're supporting!
        </div>

        <button type="submit" disabled>Save changes</button>
      </form>
      <hr>
      <button class="signout">Sign out</button>
    </section>

    <h3>About</h3>
    <section>
      <dl>
        <dt>Version:</dt><dd>2.0.0</dd>
        <dt>Developer:</dt><dd><a href="https://joerg.lauenroth.org" target="_blank">Jörg Lauenroth</a></dd>
      </dl>
    </section>

  </section>

  <section class="modal choose-team">
    <h3 class="fixed">Which team do you support?</h3>
    {{#each teams}}
      <div class="team" data-id="{{_id}}">
        <div class="flag {{machineName name}}"></div>
        <div class="name">{{name}}</div>
      </div>
    {{/each}}
  </section>

</template>
