/*****************************************************************************/
/* Chat: Style */
/*****************************************************************************/
.chat {
  padding: 0 0 60px;

  .match {
    background-color: #c5dac1;
    height: 55px;

    .team1,
    .team2 {
      padding: 8px;
    }

    .flag {
      height: 22px;
      margin-bottom: 1px;
      width: 22px;
    }
    .country {
      font-size: 12px;
    }
    .info {
      height: auto;
      padding: 15px 40%;
    }
  }

  input {
    bottom: 56px;
    border: none;
    border-top: 1px solid lighten(#5E9356, 45);
    color: #5E9356;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    width: 100%;
  }
}

.bubble {
  background-color: #f8faf7;
  border: 1px solid #5E9356;
  border-radius: 6px;
  color: #5E9356;
  clear: both;
  float: left;
  margin: 10px;
  max-width: 45%;
  padding: 5px 10px;
  position: relative;

  &:before {
    background-color: #f8faf7;
    border: 1px solid #5E9356;
    border-color: #5E9356 transparent transparent #5E9356;
    content: '';
    height: 10px;
    position: absolute;
    left: -5px;
    top: 14px;
    transform: rotate(-45deg);
    width: 10px;
  }

  &.me {
    float: right;

    &:before {
      left: auto;
      right: -5px;
      transform: rotate(135deg);
    }
  }

  .time {
    color: #999;
    float: right;
    font-size: 10px;
    margin: 2px 0 0 10px;
  }
}
