<template name="Chat">

  <section class="main chat">

    <div class="match">
      <div class="team1">
        <div class="flag france"></div>
        <div class="country">France</div>
      </div>
      <div class="team2">
        <div class="flag romania"></div>
        <div class="country">Romania</div>
      </div>
      <div class="info">0:0</div>
    </div>

    <div class="bubble">
      <div class="time">10:15</div>
      <strong>Adele</strong>
      <div>Hello, it's me!</div>
    </div>

    <div class="bubble me">
      <div class="time">10:16</div>
      <strong>Lionel</strong>
      <div>Hello! Is it me you're looking for?</div>
    </div>

    <div class="bubble">
      <div class="time">11:04</div>
      <strong>Adele</strong>
      <div>Oops, wrong number...</div>
    </div>

    <input type="text" placeholder="Type a message">

  </section>

  {{> loginButtons align="right"}}

</template>
