
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-trophy:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-football:before { content: '\e804'; } /* '' */
.icon-user-1:before { content: '\e806'; } /* '' */