/*****************************************************************************/
/* Layout: Style */
/*****************************************************************************/
* {
	font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

	&:focus {
		outline: none;
	}
}

html {
	height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: absolute;
	right: -10px;
	top: 0;
}

#login-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

section.main {
  bottom: 56px;
  left: 0;
	padding-right: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
	right: 0;
  top: 0;


}

h3 {
	background-color: #e3ede1;
	border-bottom: 1px solid #c5dac1;
	border-top: 1px solid #c5dac1;
	clear: both;
	color: #5E9356;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px;
	text-align: center;

	&.fixed {
		left: 0;
		opacity: .95;
		position: fixed;
		top: 40px;
		width: 50%;
		z-index: 15;
	}

	.back {
    color: #5E9356;
    float: left;
    font-size: 30px;
    margin: -5px -12px;
    transform: rotate(180deg);
  }
}

.clear {
	clear: both;
}

dt {
	clear: left;
	float: left;
	margin-bottom: 5px;
	width: 120px;
}
dd {
	margin-bottom: 5px;
}

button,
.btn {
	background-color: #5E9356;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 6px 12px;
	transition: .2s;

	&.full {
		clear: both;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
	}
}
button[disabled] {
	background-color: #eee;
	color: #999;
}


.modal {
  background-color: #000;
  color: #fff;
	display: block;
  opacity: 0;
  overflow-y: auto;
  padding: 40px 0 60px;
  transition: opacity .3s;
  visibility: hidden;

  &.show {
    opacity: .9;
    visibility: visible;

		.team {
			&:nth-child(odd) {
				right: 0;
			}
			&:nth-child(even) {
				left: 0;
			}
		}
  }

	&.alt {
		background-color: #f8faf7;
	  color: #5E9356;
	  padding: 0;

	  &.show {
	    opacity: 1;
	  }
	}

  .fixed {
    top: 0;
    width: 100%;
  }

  .team {
    float: left;
    padding: 20px;
		position: relative;
    text-align: center;
		transition: .3s;
    width: 50%;

		&:nth-child(odd) {
			float: right;
			right: -100px;
		}
		&:nth-child(even) {
			left: -100px;
		}
  }
}


input {
	background-color: #fff;
	border: 1px solid #c5dac1;
	border-radius: 4px;
	color: #5E9356;
	height: 40px;
	margin: 0 0 10px;
	opacity: 1;
	padding: 10px;
	transition: .3s;

	&.user-input {
		border: 1px solid #c5dac1;
		width: 100%;
	}
}


.icon-detail.back {
	color: #5E9356;
	font-size: 26px;
	position: absolute;
	top: 0;
	transform: rotate(180deg);
	z-index: 10;
}

.header-edit {
	color: #5E9356;
	font-size: 16px;
	line-height: 37px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 0;
	width: 37px;
	z-index: 10;
}
