<template name="Bet">

  <section class="main bet">

    <h3>Group Stage - 10/06/2016</h3>

    <div class="team1">
      <div class="flag france"></div>
      <div class="country">France</div>
    </div>
    <div class="team2">
      <div class="flag romania"></div>
      <div class="country">Romania</div>
    </div>

    <div class="betting">
      <div class="bet-team1"></div>
      <div class="bet-team2"></div>
    </div>

    <div class="set-bet1">
      <a href="#0">0</a>
      <a href="#1">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#-">-</a>
      <a href="#+">+</a>
    </div>
    <div class="set-bet2">
      <a href="#0">0</a>
      <a href="#1">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#-">-</a>
      <a href="#+">+</a>
    </div>

  </section>

  <a href="#prev" class="btn">Previous</a>
  <a href="#next" class="btn">Next</a>

  {{> loginButtons align="right"}}
</template>
