<template name="Bet">

  <section class="main bet">

    <h3>
      <a href="/bets" class="back"><i class="icon-detail"></i></a>
      {{#if isGroupStage}}
        Group Stage
      {{else}}
        Knock-out Stage
      {{/if}}
      -
      {{dateFormat currentMatch.date}}
    </h3>

    <div class="team1">
      <div class="flag {{machineName currentMatch.team1name}}"></div>
      <div class="country">{{currentMatch.team1name}}</div>
    </div>
    <div class="team2">
      <div class="flag {{machineName currentMatch.team2name}}"></div>
      <div class="country">{{currentMatch.team2name}}</div>
    </div>

    <div class="betting">
      <div class="bet-team1">{{currentBet.score1}}</div>
      <div class="bet-team2">{{currentBet.score2}}</div>
    </div>

    <div class="set-bet1">
      <a href="#0">0</a>
      <a href="#1">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#-">4</a>
      <a href="#+">+</a>
    </div>
    <div class="set-bet2">
      <a href="#0">0</a>
      <a href="#1">1</a>
      <a href="#2">2</a>
      <a href="#3">3</a>
      <a href="#-">4</a>
      <a href="#+">+</a>
    </div>

    <nav>
      {{#if hasPrevMatch}}
        <a href="#prev" class="btn prev">Previous</a>
      {{/if}}
      <a href="#next" class="btn next">
      {{#if hasNextMatch}}
        Next
      {{else}}
        Done
      {{/if}}
      </a>
    </nav>

  </section>



  {{> loginButtons align="right"}}
</template>
