/*****************************************************************************/
/* Teams: Style */
/*****************************************************************************/
.standings {
  padding-top: 40px;

  table {
    margin: 0px 0 20px;
    width: 100%;
  }

  th, td {
    padding: 10px;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  .team {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
  }

  th span {
    display: none;
  }

  tr {
    &:nth-child(odd) td {
      background-color: lighten(#5E9356, 45);
    }
  }

  .flag {
    float: left;
    height: 20px;
    margin: 0 10px 0 0;
    width: 20px;
  }

  @media (min-width: 500px) {
    th span {
      display: inline;
    }
  }

  &.knock-out {
    .phase {
      padding: 5% 0 0 5%;
    }
    .match {
      background-color: #f8faf7;
      border: 1px solid #c5dac1;
      border-radius: 6px;
      clear: none;
      float: left;
      margin: 0% 5% 5% 0%;
      position: relative;
      width: 45%;

      .team1, .team2 {
        font-size: 14px;
        overflow: hidden;
        padding: 5px;
        width: 50%;

        &.lost {
          opacity: .5;

          .flag {
            opacity: .5;
          }
        }
      }
      .team1 {
        text-align: left;
      }
      .team2 {
        text-align: right;
        .flag {
          float: right;
        }
      }
      .flag {
        margin: 2px 2px 6px;

        &.tbd:before {
          display: inline-block;
          text-align: center;
          top: 0;
          width: 100%;
        }
      }
      .name {
        clear: both;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .score,
      .info {
        font-size: 18px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 5px;

        .sub {
          font-size: 12px;
          margin-top: -3px;
        }
      }
      .info {
        font-size: 12px;
        padding: 0;

        .sub {
          margin-top: -2px;
        }
      }
    }
    .final .match {
      width: 95%;

      .flag {
        height: 40px;
        width: 40px;
      }
      .tbd:before {
        font-size: 22px;
        line-height: 40px;
      }
      .score {
        font-size: 28px;
      }
      .info {
        font-size: 18px;

        .sub {
          font-size: inherit;
        }
      }
    }
  }
}
