<template name="Standings">

    <div class="pages-wrapper">

      <div class="page" data-title="Group stage">

        <section class="main standings">
          {{#each groups}}
          <h3>{{name}}</h3>
          <table>
            <thead>
              <tr>
                <th class="team">Team</th>
                <th>W<span>on</span></th>
                <th>D<span>raw</span></th>
                <th>L<span>ost</span></th>
                <th>+/-</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              {{#each teams}}
              <tr>
                <td class="team"><div class="flag {{machineName name}}"></div> {{name}}</td>
                <td>{{won}}</td>
                <td>{{draw}}</td>
                <td>{{lost}}</td>
                <td>{{goalDifference this}}</td>
                <td><strong>{{points}}</strong></td>
              </tr>
              {{/each}}
                    </tbody>
          </table>
          {{/each}}
        </section>
      </div>

      <div class="page" data-title="Knock-out stage">
        <section class="main standings knock-out">
          <h3>Round of 16</h3>

          <div class="phase round-16">
            {{#each roundOf16}}
              {{> KnockOutStanding this}}
            {{/each}}
          </div>

          <h3>Quarter finals</h3>
          <div class="phase">
            {{#each quarterFinals}}
              {{> KnockOutStanding this}}
            {{/each}}
          </div>

          <h3>Semi finals</h3>
          <div class="phase">
            {{#each semiFinals}}
              {{> KnockOutStanding this}}
            {{/each}}
          </div>

          <h3>Final</h3>
          <div class="phase final">
            {{#each final}}
              {{> KnockOutStanding this}}
            {{/each}}
          </div>

          </section>
        </div>
    </div>

</template>
