<template name="Standings">

  <section class="main standings">

    {{> Stages}}

    {{#each groups}}
    <h3>{{name}}</h3>
    <table>
      <thead>
        <tr>
          <th class="team">Team</th>
          <th>W<span>on</span></th>
          <th>D<span>raw</span></th>
          <th>L<span>ost</span></th>
          <th>+/-</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {{#each teams}}
        <tr>
          <td class="team"><div class="flag {{machineName name}}"></div> {{name}}</td>
          <td>{{won}}</td>
          <td>{{draw}}</td>
          <td>{{lost}}</td>
          <td>{{goalDifference this}}</td>
          <td><strong>{{points}}</strong></td>
        </tr>
        {{/each}}
              </tbody>
    </table>
    {{/each}}

  </section>

</template>
