/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
  background-color: #f8faf7;
  bottom: 56px;
  color: #5E9356;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;

  &.sign-in {
    .options .sign-in {
      font-weight: bold;
      opacity: 1;
    }
  }
  &.sign-up {
    .options .sign-up {
      font-weight: bold;
      opacity: 1;
    }
    .options .dot:after {
      left: 100%;
    }
  }

  h3 {
    margin: -10px -10px 10px -10px;
  }

  button {
    padding: 10px;
    width: 45%;

    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }

  .options {
    background-color: #f8faf7;
    height: 60px;
    margin-top: 10px;
    position: relative;
    z-index: 10;

    button {
      background-color: transparent;
      color: #5E9356;
      opacity: .5;
      position: relative;
      transition: .2s;
      width: 49%;
    }
    .dot {
      height: 2px;
      margin: 0 auto;
      position: relative;
      width: 50.5%;

      &:after {
        background-color: #5E9356;
        border-radius: 100%;
        content: '';
        height: 5px;
        left: 0%;
        position: absolute;
        top: 35px;
        transition: .5s;
        width: 5px;
      }
    }
  }

  .forgot-password {
    margin-top: 10px;
    text-align: center;
  }

  .or {
    margin: 35px auto;
    position: relative;
    text-align: center;
    width: 40px;

    &:before {
      background: #5E9356;
      content: '';
      height: 1px;
      left: -40px;
      position: absolute;
      top: 10px;
      width: 120px;
      z-index: 1;
    }

    span {
      background-color: #fff;
      border-radius: 100%;
      padding: 10px;
      position: relative;
      z-index: 20;
    }
  }

  form {
    position: relative;
    top: 0;
    transition: .3s;
    z-index: 1;
  }

  &.sign-in form {
    top: -50px;

    #login-name {
      opacity: 0;
    }
  }

  .buttons {
    line-height: 35px;
    text-align: center;

    button {
      margin: 10px 0;
      padding: 5px;
      width: 100%;
    }
  }

  #login-password {
    margin-bottom: 10px;
  }

  .input {
    position: relative;
  }

  .icon-user,
  .icon-mail,
  .icon-lock {
    font-size: 18px;
    left: 7px;
    top: 7px;
    position: absolute;
  }
  .icon-lock {
    font-size: 22px;
    left: 4px;
    top: 4px;
  }

  input {
    padding-left: 35px;
  }

  input,
  button[type="submit"] {
    width: 100%;
  }

  .facebook {
    background-color: #3b5998;
  }
  .google {
    background-color: #dd4b39;
  }
}
