/*****************************************************************************/
/* User: Style */
/*****************************************************************************/
.profile {

  h3.fixed {
    top: 0;
    width: 100%;
  }
  .back {
    position: fixed;
    z-index: 20;
  }

  header {
    padding-top: 60px;
  }

  .picture {
    border: 3px solid #c5dac1;
    border-radius: 100%;
    height: 80px;
    float: left;
    margin: 0 60px 20px 20px;
    position: relative;
    width: 80px;

    img {
      border-radius: 100%;
      height: 100%;
      width: 100%;
    }
  }

  .supported-team {
    height: 30px;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 30px;
  }

  .name {
    font-size: 20px;
    margin: 10px 0 10px;
  }

  .points {
    font-size: 16px;
  }

  .match {
    .flag {
      height: 30px;
      width: 30px;
    }

    .country {
      font-size: 14px;
    }

    .info {
      height: 82px;
      padding-top: 27px;
    }

    .sub {
      margin-top: 8px;
    }
  }

  .statistics {
    border-bottom: 1px solid #c5dac1;
    color: #5E9356;
    height: 75px;

    > div {
      float: left;
      padding: 13px 10px 0;
      text-align: center;
      width: 25%;
    }
    .count {
      background-color: #e3ede1;
      border: 1px solid #c5dac1;
      border-radius: 100%;
      color: #5E9356;
      font-size: 16px;
      line-height: 30px;
      margin: 0 auto;
      width: 30px;
    }
    span {
      font-size: 10px;
    }
  }
}
