<template name="User">

  <section class="main profile">
    <i class="icon-detail back"></i>
    <h3 class="fixed">Profile</h3>

    <header>
      <div class="picture">
        <img src="/images/profile.jpg" alt="">
        {{#if supportedTeam}}
          <div class="flag {{machineName supportedTeam}} supported-team"></div>
        {{/if}}
      </div>
      <div class="name">{{profile.name}}</div>
      <div class="points">Total points: {{profile.points}}</div>
    </header>

    <div class="statistics">
      {{#with statistics}}
      <div>
        <div class="count">{{three}}</div>
        <span>3 points</span>
      </div>
      <div>
        <div class="count">{{two}}</div>
        <span>2 points</span>
      </div>
      <div>
        <div class="count">{{one}}</div>
        <span>1 point</span>
      </div>
      <div>
        <div class="count">{{zero}}</div>
        <span>0 points</span>
      </div>
      {{/with}}
    </div>

    <h3>Bets</h3>
    <!-- <div class="champion">
      Champion
      <div class="flag belgium"></div>
      Belgium
    </div> -->
    {{#unless bets.length}}
      <p class="no-result">Bets will show up when the first match has started.</p>
    {{/unless}}

    {{#each bets}}
      <section class="match">
        <div class="bet-info">
          <div class="date">{{dateFormat date}} - {{timeFormat date}}</div>
          <div class="team1">
            <div class="flag {{machineName team1name}}"></div>
            <div class="country">{{team1name}}</div>
          </div>
          <div class="team2">
            <div class="flag {{machineName team2name}}"></div>
            <div class="country">{{team2name}}</div>
          </div>
          <div class="info">
            {{#if isset bet}}
              <div class="score">
                {{bet.score1}} - {{bet.score2}}

                <div class="sub">
                {{#if isset score1}}
                  result: {{score1}} - {{score2}}
                {{else}}
                  no result yet
                {{/if}}
                </div>
              </div>
            {{else}}
              <div class="sub">No bet set</div>
            {{/if}}
          </div>
        </div>
        <div class="result">
          {{#if isset bet.points}}
            {{bet.points}}
          {{else}}
            -
          {{/if}}
        </div>
      </section>
    {{/each}}

  </section>

</template>
