<template name="User">

  <section class="main profile">
    <i class="icon-detail back"></i>
    <h3 class="fixed">{{profile.name}}</h3>

    <header>
      <div class="picture">
        <img src="/images/profile.jpg" alt="">
        {{#if supportedTeam}}
          <div class="flag {{machineName supportedTeam}} supported-team"></div>
        {{/if}}
      </div>
      <div class="points">{{profile.points}} points</div>
    </header>

    {{#if bets.length}}
      <h3>Bets</h3>
      {{#each bets}}
        <section class="match">
          <div class="team1">
            <div class="flag {{machineName team1name}}"></div>
            <div class="country">{{team1name}}</div>
          </div>
          <div class="team2">
            <div class="flag {{machineName team2name}}"></div>
            <div class="country">{{team2name}}</div>
          </div>
          <div class="info">
            {{#if isset bet}}
              <div class="score">
                {{bet.score1}} - {{bet.score2}}
              </div>
            {{else}}
              <div class="sub">No bet set</div>
            {{/if}}
          </div>
        </section>
      {{/each}}
    {{/if}}
  </section>

</template>
